#bkg-color {
    background-color: whitesmoke;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 801px;
  font-family: monospace;
  font-size: large;
}

#hobby-container {
  margin-top: 20px;
  border-bottom: 2px solid #52796f;
  padding-bottom: 4px;
}

#image {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  border: thick solid black;
}

#border1 {
    border-bottom: 2px solid #84a98c;
    padding-bottom: 4px;
}

#border2 {
    border-bottom: 2px solid #52796f;
    padding-bottom: 4px;
}

#border3 {
    border-bottom: 2px solid #354f52;
    padding-bottom: 4px;
}