#bkg-color {
  background-color: white;
}

@media only screen and (min-width: 500px) {
    #content {
    font-family: 'Lexend Deca', sans-serif;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    #content {
    font-family: 'Lexend Deca', sans-serif;
    font-size: large;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    }
}

#chart-container {
  width: 100%;
}

#response-container {
  font-family: 'Lexend Deca', sans-serif;
  font-size: large;
  width: 100%;
  min-height: 150px;
}

#hobby-container {
  margin-top: 20px;
  padding-bottom: 4px;
}

#string-container {
  margin-top: 20px;
  padding-bottom: 4px;
  border-bottom: 2px solid #52796f;
}

#image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  border-radius:14px;
}

#border1 {
  border-bottom: 2px solid #84a98c;
  padding-bottom: 4px;
}

#border2 {
  border-bottom: 2px solid #52796f;
  padding-bottom: 4px;
}

#border3 {
  border-bottom: 2px solid #354f52;
  padding-bottom: 4px;
}